
.index {
    width: 100%;
    height: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 85%;
    height: 100%;
    max-width: 966px;
    background: #fff;
    position: relative;
    margin: 0 auto 115px;
    border-radius: 4px;
    box-shadow: 0 8px 24px 0 rgb(54 97 174 / 14%);
    padding: 8px 50px 40px;
    z-index: 1;
}

.banner {
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(//lf3-cdn-tos.bytescm.com/obj/ttfe/ATSX/my_resume_banner_1577084307030.jpg);
}

.header {
    position: relative;
    width: 85%;
    margin: 30px auto;
    max-width: 966px;
    height: 146px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: white;
}

.header-left {
    line-height: 59px;
    font-size: 30px;
    font-weight: 800;
}

.header-time {
    display: flex;
    align-items: center;
    margin-top: 3px;
    height: 28px;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
}

.header-right-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    max-width: 120px;
    height: 40px;
    padding: 0 12px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-bottom: 5px;
}

.add-ons {
    align-items: center;
    color: #1890ff;
    display: flex;
    font-size: 14px;
    line-height: 20px;

    cursor: pointer;
}

.content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.content {
    margin-bottom:18px;
    width: 48%;
}

.content-title {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    color: #1f2329;
    opacity: 0.45;
}

